/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}

html {
  font-size: 62.5%;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.wrapper {
  background-color: #1f2937;
  padding: 12px 64px;
}

.header {
  max-width: 112rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
}

.header h1 {
  color: #e5e7eb;
  font-size: 24px;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 16px;
  font-size: 16px;
}
.nav-list a:link,
.nav-list a:visited {
  text-decoration: none;
  color: #e5e7eb;
}

.nav-list a:link:hover {
  text-decoration: underline;
}


.hero {
  display: flex;
  padding-top: 64px;
  padding-bottom: 64px;
  gap: 32px;
  align-items: center;
  justify-content: space-between;
}

.hero-text {
  flex: 1;
  color: #e5e7eb;
  
}

.hero-text h1 {
  font-size: 30px;
  margin-bottom: 8px;
  font-weight: bolder;
}

.hero-text p {
  font-size: 14px;
  margin-bottom: 12px;
}


.hero-image{
  border-radius: 8px;
  overflow: hidden;
  flex: 1;
}


.btn {
  border: none;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 8px;
}

.btn.sign-up-btn {
  background-color: #3882f6;
  color: #e5e7eb;
  font-weight: bold;
}
.btn.sign-up-btn:hover {
  cursor: pointer;
  background-color: #3275dd;
}


.info {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center; 
  color: #1f2937;
  background-color: white;
  padding: 32px 80px 96px 80px;
}

.info h2 {
  font-size: 24px;
  margin-bottom: 12px;
}

.gallery {
  display: flex;
  gap: 20px;
  color: #e5e7eb;
  align-items: center;
}

.gallery > div {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery .image {
  height: 80px;
  width: 80px;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 8px;
  border: 4px double #3882f6;
}

.info p {
  color: #1f2937;
  font-size: 14px;
}

.testimonial {
  background-color: #e5e7eb;
  padding: 48px 64px;
}
.testimonial p {
  margin: 0 auto;
  font-size: 20px;
  max-width: 600px;

}

.testimonial p:nth-child(2){
  font-weight: bold;
  text-align: right;
}

.testimonial p:first-child{
  font-style: italic;
}

.section-call-to-action {
  padding: 80px 112px;
}

.card-call-to-action {
  background-color: #3275dd;
  padding: 12px 48px;
  border-radius: 8px;
}


.card-call-to-action h3 {
  font-size: 16px;
  color: #e5e7eb;
}

.card-call-to-action p {
  color: #e5e7eb;
  font-size: 14px;
  margin-bottom: 12px;
  display: inline-block;
  margin-right: 64px;
}
.card-call-to-action button {
  background-color: transparent;
  font-size: 14px;
  color: #e5e7eb;
  border: 2px solid #e5e7eb;
  border-radius: 4px;
  padding: 2px 6px;
  display: inline-block;
}

.card-call-to-action button:hover {
  cursor: pointer;
  background-color: #e5e7eb;
  color: #1f2937;
}

.footer {
  background-color: #1f2937;
  padding: 18px 0;
}

.footer p {
  font-size: 18px;
  color: #e5e7eb;
  text-align: center;
}